@page "/"

@using RedditClientViewer.Data

<h1>Reddit Client Viewer</h1>
<div>
    <p>Sort @Api.Sort</p>
    <button @onclick="@(() => Api.Sort = "hot")">Hot</button>
    <button @onclick="@(() => Api.Sort = "new")">New</button>
    <button @onclick="@(()=> Api.Sort = "top")">Top</button>
    <button @onclick="@(() => Api.Sort = "rising")">Rising</button>
</div>

<p>Time @Api.Time</p>
<select @bind="Api.Time">
    <option value="hour">Now</option>
    <option value="day" selected>Today</option>
    <option value="week">This Week</option>
    <option value="month">This Month</option>
    <option value="year">This Year</option>
    <option value="all">All Time</option>
</select>

<p>Url @Api.Url</p>
<p>After @Api.After</p>
<p>Channel @Api.Channel</p>
<p>Current amount of Posts Loaded @Api.Posts.Count</p>

<button @onclick="(() => Api.Update())">Search</button>

@if (Api.Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
       <button @onclick="(() => Controller.LoadMore())">Load More</button>
       <button @onclick="(() => Controller.GetPostsAsync())">Render Posts</button>
        @if (Api.Posts.Count > 1)
        {
            @foreach (var post in Api.Posts)
            {
                <article id='{@post.ID} card'>
                    <div id='Article-sidebar'>
                        <button class='votebutton' id='upvote'>UP</button>
                        <span id='Article.Score'>@post.Score</span>
                        <button class='votebutton' id='downvote'>DOWN</button>
                    </div>
                    <div id='Article-content'>
                        <div id='Article.information'>
                            <i id='Article.Author'>Posted by @post.Author</i>
                            @* <i id='Article.Date'>@Controller.Timeago(post.Utc) days ago</i> *@
                        </div>
                        <p id='Article.Title'>@post.Title</p>
                        <img src=@post.Url>
                        <div id='Article-footer'>
                            <span id='Article.numComments'>@post.NumComments Comments</span>
                            <a href="@post.Link"><button>View On Reddit</button></a>
                        </div>
                    </div>
                </article>
            }
        }
    </div>  
}