@page "/"

@using RedditClientViewer.Data

<h1>Reddit Client Viewer</h1>
<div>
    <p>Sort @Api.Sort</p>
    <button @onclick="@(() => Api.Sort = "hot")">Hot</button>
    <button @onclick="@(() => Api.Sort = "new")">New</button>
    <button @onclick="@(()=> Api.Sort = "top")">Top</button>
    <button @onclick="@(() => Api.Sort = "rising")">Rising</button>
</div>

<p>Time @Api.Time</p>
<select @bind="Api.Time">
    <option value="hour">Now</option>
    <option value="day" selected>Today</option>
    <option value="week">This Week</option>
    <option value="month">This Month</option>
    <option value="year">This Year</option>
    <option value="all">All Time</option>
</select>

<p>Url @Api.Url</p>
<p>After @Api.After</p>
<p>Channel @Api.Channel</p>
<p>Current amount of Posts Loaded @Api.Posts.Count</p>

<button @onclick="@(() => Api.Update("reset"))">Search</button>

@if (Api.Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
       <button @onclick="(() => Controller.LoadMore())">Load More</button>
        @if (Api.Posts.Count > 1)
        {
            @foreach (var post in Api.Posts)
            {
                <article class='{@post.ID} card'>
                    <div class='Article-sidebar'>
                        <button class='votebutton upvote'>UP</button>
                        <span class='Article.Score'>@post.Score</span>
                        <button class='votebutton downvote'>DOWN</button>
                    </div>
                    <div class='Article-content'>
                        <div class='Article.information'>
                            <i class='Article.Author'>Posted by @post.Author</i>
                            @* <i class='Article.Date'>@Controller.Timeago(post.Utc) days ago</i> *@
                        </div>
                        <p class='Article.Title'>@post.Title</p>
                        <img src=@post.Url>
                        <div class='Article-footer'>
                            <span class='Article.numComments'>@post.NumComments Comments</span>
                            <a href="@post.Link"><button>View On Reddit</button></a>
                            <button @onclick="@(() => Controller.fetch("comments", @post, @post.Link))">View Submissions</button>
                        </div>
                    </div>
                    @if (post.Comments.Count >= 1)
                    {
                        @foreach (var comment in post.Comments)
                        {
                            <div class="Article-Comments">
                                <a href="@comment.Src" target= "_blank"><p>@comment.Body</p></a>
                                @if (comment.HasImage)
                                {
                                    <img src="@comment.Src" alt="@comment.Title" onerror="">
                                }
                            </div>
                        }
                    }
                </article>
            }
        }
    </div>  
}